#menu-item {
    .icon-container {
        margin-right: 10px;
        display: flex;
    }
    height: 25px;
    display: flex;
    align-items: center;
    padding: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0,0,0,0.5);
    &:hover {
        background-color: rgba(182,220,252,255);
    }
    border-radius: 5px;
/* or 175% */
    &.selected {
        
        background-color: #0E4DA4;
        color: #fff;
        font-weight: 600;
    }
    cursor: pointer;
}
